In [2]:
import h5py
import numpy as np
import pandas as pd
import matplotlib as plt
import app.backend.DBController as dbc

from pymongo import UpdateOne
from sklearn.model_selection import train_test_split

%matplotlib inline

In [3]:
def to_df(db, query, limit=None):
    if limit is None:
        cursor = db.find(query)
    else:
        cursor = db.find(query).limit(limit)

    df = pd.DataFrame(list(cursor))
    return df

In [3]:
rdb_controller = dbc.DBController().reviewDB
reviews_db = rdb_controller.get_reviews()
df = to_df(reviews_db, {})

                              _id user_id  anime_id  rating description title
0        605181610febcb00256d9bd0       1        20      -1
1        605181610febcb00256d9bd1       1        24      -1
2        605181610febcb00256d9bd2       1        79      -1
3        605181610febcb00256d9bd3       1       226      -1
4        605181610febcb00256d9bd4       1       241      -1
...                           ...     ...       ...     ...         ...   ...
3399995  6051842a0febcb0025a17d0b   31320     18115       8
3399996  6051842a0febcb0025a17d0c   31320     18153      -1
3399997  6051842a0febcb0025a17d0d   31320     18247      -1
3399998  6051842a0febcb0025a17d0e   31320     18277      -1
3399999  6051842a0febcb0025a17d0f   31320     18393       9

[3400000 rows x 6 columns]